@charset "UTF-8";
/*Animaciones */
/* Links */
.links:hover {
  background-color: rgba(0, 0, 0, 0.199);
  color: green; }

/* nav hover animaciones */
.dropdown:hover > .dropdown-menu {
  display: block; }

.dropdown > .dropdown-menu > li > a:hover {
  background-color: rgba(0, 128, 0, 0.63); }

/*Colores*/
* {
  border: solid red 1px; }

body {
  background-color: #E4E4E4; }

footer {
  background-color: #292929; }

.destacados__titulos {
  background-color: #292929; }

/*Imagenes*/
.destacados__img {
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  width: 100%;
  max-width: 100%;
  height: auto; }

/*Tamaños*/
/* Registro */
.formReg {
  width: 450px;
  margin: auto; }

/* Margenes Market */
.destacados {
  padding: 10px; }

.destacados__titulos {
  width: 100%;
  padding: 10px; }

/*Textos*/
h1 {
  font-family: 'Oxygen', sans-serif; }

h2 {
  font-family: 'Oxygen', sans-serif; }

h3 {
  font-family: 'Oxygen', sans-serif; }

h4 {
  font-family: 'Oxygen', sans-serif; }

h5 {
  font-family: 'Oxygen', sans-serif; }

h6 {
  font-family: 'Oxygen', sans-serif; }

.titulosGigs {
  font-family: 'Quicksand', sans-serif;
  font-size: 3rem;
  font-weight: 600;
  text-shadow: 1px 3px 3px rgba(0, 128, 0, 0.233); }

.tableTitulos {
  font-family: 'Quicksand', sans-serif;
  font-size: 2em; }

.card-title {
  text-shadow: 1px 2px 3px black; }

.card-text {
  text-shadow: 1px 2px 3px black; }

/*Market */
.destacados__titulos {
  color: white;
  text-transform: uppercase;
  text-align: center; }

/* Iconos */
.iconosTable {
  color: green;
  font-size: 19px; }

/*Site Map */
.footer__sitemap > a {
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  justify-self: start;
  color: white;
  text-align: center;
  text-decoration: underline;
  font-size: 1.2em; }
