@charset "UTF-8";
/*Animaciones */
/* Links */
.links:hover {
  background-color: rgba(0, 0, 0, 0.199);
  color: green; }

/* nav hover animaciones */
.dropdown:hover > .dropdown-menu {
  display: block; }

.dropdown > .dropdown-menu > li > a:hover {
  background-color: rgba(0, 128, 0, 0.63);
  transition: 0.1s; }

/*Colores*/
body {
  background-color: #E4E4E4; }

footer {
  background-color: #292929; }

.destacados__titulos {
  background-color: #292929; }

.lanzamientosDelMes {
  background-color: #292929; }

/*Colores Market*/
/*Imagenes*/
/*Img market Destacado*/
.destacados__ultimosLanzamientos__img {
  display: flex;
  flex-flow: row wrap;
  justify-items: center;
  justify-content: space-evenly;
  height: auto; }

.destacados__ultimosLanzamientos__img > img {
  padding: 2px; }

.destacados__label__img {
  display: flex; }

.destacados__label__img {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  max-width: 100%;
  height: auto;
  padding: 10px;
  justify-content: space-evenly; }

.header {
  background-image: url(../media/imagenes/banner_market_2_optimizado.jpg);
  height: 500px;
  background-position: center;
  background-repeat: no-repeat; }

/*Tamaños*/
/* Registro */
.formReg {
  width: 450px;
  margin: auto; }

/* Margenes Market */
.header__card {
  display: flex;
  max-width: 100%;
  height: auto;
  flex-flow: column nowrap;
  justify-items: center;
  justify-content: center;
  box-shadow: 10px 10px 20px black; }

.destacados {
  padding: 10px; }

.destacados__titulos {
  width: 100%;
  padding: 10px; }

.destacados__artista__borde {
  border-left: solid 1px black; }

.lanzamientosDelMes {
  margin-bottom: 20px; }

.lanzamientosDelMes__cards {
  border-style: double;
  margin-bottom: 20px; }

.btn--paddingTop {
  margin-top: 10px; }

/*Footer tamaños*/
.footer__seguinos > li > a > i {
  font-size: 25px;
  font-style: normal; }

.footer__sitemap__icono--paddingRight {
  padding-right: 10px; }

.footer__card--border {
  border-right: double; }

/*Textos*/
h1 {
  font-family: 'Oxygen', sans-serif; }

h2 {
  font-family: 'Oxygen', sans-serif; }

h3 {
  font-family: 'Oxygen', sans-serif; }

h4 {
  font-family: 'Oxygen', sans-serif; }

h5 {
  font-family: 'Oxygen', sans-serif; }

h6 {
  font-family: 'Oxygen', sans-serif; }

p {
  font-family: 'Quicksand', sans-serif; }

.titulosGigs {
  font-family: 'Quicksand', sans-serif;
  font-size: 3rem;
  font-weight: 600;
  text-shadow: 1px 3px 3px rgba(0, 128, 0, 0.233); }

.tableTitulos {
  font-family: 'Quicksand', sans-serif;
  font-size: 2em; }

/*Market */
.header__card__titulo {
  text-shadow: 1px 2px 3px black; }

.header__card__text {
  text-shadow: 3px 4px 5px black; }

.destacados__titulos {
  color: white;
  text-transform: uppercase;
  text-align: center; }

.lanzamientosDelMes__cards__texto {
  font-family: 'Quicksand', sans-serif;
  font-weight: 200;
  font-size: 15px;
  text-align: center;
  color: white;
  width: auto; }

.lanzamientosDelMes__cards__texto > a {
  color: #00b800; }

/* Iconos */
.iconosTable {
  color: green;
  font-size: 19px; }

/*Site Map */
.footer__sitemap > a {
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  justify-self: start;
  color: white;
  text-align: center;
  text-decoration: underline;
  font-size: 1.2em; }
