@charset "UTF-8";
/*Animaciones */
/* Links */
.links:hover {
  background-color: rgba(0, 0, 0, 0.199);
  color: green; }

/* nav hover animaciones */
.dropdown:hover > .dropdown-menu {
  display: block; }

.dropdown > .dropdown-menu > li > a:hover {
  background-color: rgba(0, 128, 0, 0.63);
  transition: 0.1s; }

/*Colores*/
body {
  background-color: #e4e4e4; }

footer {
  background-color: #292929; }

/*Colores Market*/
.destacados__titulos {
  background-color: #292929; }

.lanzamientosDelMes {
  background-color: #292929; }

/* Colores Index*/
.index__novedadesGenerales {
  background-color: #292929; }

.index_ultimosGigs--white {
  background-color: white; }

.index__ultimosGigs__titulo {
  background-color: #292929; }

/*Imagenes*/
/*Img market Destacado*/
.destacados__ultimosLanzamientos__img {
  display: flex;
  flex-flow: row wrap;
  justify-items: center;
  justify-content: space-evenly;
  height: auto; }

.destacados__ultimosLanzamientos__img > img {
  padding: 10px; }

.destacados__label__img {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  max-width: 100%;
  height: auto;
  padding: 10px;
  justify-content: space-evenly; }

.destacados__label__img > img {
  padding: 10px; }

.header {
  background-image: url(../media/imagenes/banner_market_2_optimizado.jpg);
  height: 500px;
  background-position: center;
  background-repeat: no-repeat; }

/*Tamaños*/
/* Registro */
.formReg {
  width: 450px;
  margin: auto; }

/*Index Tamaños*/
.carousel-inner {
  height: auto; }

.carousel-inner__img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 87%;
  height: auto; }

.indexHeader {
  padding: 20px; }

.indexHeader__parrafo {
  width: 100%;
  margin-top: 20px;
  border-top: 3px double black;
  border-bottom: 3px double black;
  border-radius: 20px; }

.indexHeader__parrafo__texto {
  padding: 10px; }

.index__ultimosGigs {
  padding: 20px; }

/* Margenes Market */
.header__card {
  display: flex;
  max-width: 100%;
  height: auto;
  flex-flow: column nowrap;
  justify-items: center;
  justify-content: center;
  box-shadow: 10px 10px 20px black; }

.destacados {
  padding: 10px; }

.destacados__titulos {
  width: 100%;
  padding: 10px; }

.lanzamientosDelMes {
  margin-bottom: 20px; }

.lanzamientosDelMes__cards {
  border-style: double;
  margin-bottom: 20px; }

.btn--paddingTop {
  margin-top: 10px; }

/*Footer tamaños*/
.footer__seguinos {
  padding-top: 15px;
  padding-bottom: 30px;
  border: double white 3px; }

.footer__quienesSomos {
  border: double white 3px;
  padding-top: 15px; }

.footer__seguinos__list > li > a > i {
  font-size: 25px;
  font-style: normal; }

.footer__sitemap__icono--paddingRight {
  padding-right: 10px; }

/*Seccion Gigs */
.recomendacionesGig {
  padding: 20px; }

/*Seccion Faqs*/
.faqs {
  padding: 15px 15px; }

.faqs__card {
  margin-bottom: 10px; }

.faqs__card__icono {
  font-size: 70px;
  color: yellow; }

.faqs__card__lista > li, .gigs__card__lista > li {
  margin-bottom: 5px; }

/*Textos*/
h1 {
  font-family: "Oxygen", sans-serif; }

h2 {
  font-family: "Oxygen", sans-serif; }

h3 {
  font-family: "Oxygen", sans-serif; }

h4 {
  font-family: "Oxygen", sans-serif; }

h5 {
  font-family: "Oxygen", sans-serif; }

h6 {
  font-family: "Oxygen", sans-serif; }

p {
  font-family: "Quicksand", sans-serif; }

/*Index Textos*/
.headerIndex__titulo {
  height: 3em;
  margin-bottom: 0.5em;
  color: #343434;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  border-radius: 10px 0px 10px 0px;
  background: url(../media/imagenes/icon-5974825_640.png) no-repeat center; }

/*Gigs Texto*/
.titulosGigs {
  font-weight: 400;
  text-shadow: 1px 3px 3px rgba(0, 128, 0, 0.233); }

.tableTitulos {
  font-family: "Quicksand", sans-serif;
  font-size: 2em; }

.descripcionGig__texto {
  font-family: "Quicksand", sans-serif;
  font-weight: 200;
  font-size: 18px;
  text-align: center;
  color: black;
  width: auto; }

.descripcionGig__texto > a {
  color: green; }

/*Market */
.header__card__titulo {
  text-shadow: 1px 2px 3px black; }

.header__card__text {
  text-shadow: 3px 4px 5px black; }

.destacados__titulos {
  color: white;
  text-transform: uppercase;
  text-align: center; }

.lanzamientosDelMes__cards__texto {
  font-family: "Quicksand", sans-serif;
  font-weight: 200;
  font-size: 15px;
  text-align: center;
  color: white;
  width: auto;
  padding-top: 15px; }

.lanzamientosDelMes__cards__texto > a {
  color: #00b800; }

/* Iconos */
.iconosTable {
  color: green;
  font-size: 19px; }

/*Site Map */
.footer__sitemap__list > a {
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  justify-self: start;
  color: white;
  text-align: center;
  text-decoration: underline;
  font-size: 1.2em; }

/*Text Faqs*/
.faqs__card__title {
  font-size: 35px;
  color: white; }

.faqs__card__texto {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  font-size: 17px;
  text-align: center;
  color: black;
  width: auto; }

.faqs__card__texto > a {
  color: green; }

/* Mediaqueries*/
.footer__sitemap {
  display: none; }

.sticky-top-xs {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1020; }

.footer__quienesSomos--flex {
  display: flex;
  flex-flow: column nowrap; }

@media (min-width: 992px) {
  .footer__sitemap {
    display: block;
    padding-top: 10px;
    border: double white 3px; }
  .footer__quienesSomos {
    padding-top: 10px; }
  .footer__seguinos {
    padding-top: 10px; }
  nav {
    position: initial;
    top: 0%; }
  .sticky-top-xs {
    position: -webkit-initial;
    position: initial;
    top: 0;
    z-index: 1020; }
  /*Index Media Querie */
  .index__ultimosGigs__videos {
    border-right: solid 1px black; }
  .destacados__artista__borde {
    border-left: 1px solid black; } }
