//   * { 
//       border: solid red 1px;
//    }

body {
    background-color: #E4E4E4;
}

footer {
    background-color: #292929;
}


/*Colores Market*/

.destacados__titulos {
    background-color: #292929;
}


.lanzamientosDelMes {
    background-color: #292929;
}


/* Colores Index*/ 

.index__novedadesGenerales {
    background-color: #292929;
}