//    * { 
//    border: solid red 1px;
    // }

$fondoGris: #292929;
$fondoCrema: #E4E4E4;
$fondoBlanco: white;

body {
    background-color: $fondoCrema;
}

footer {
    background-color: $fondoGris;
}


/*Colores Market*/

.destacados__titulos {
    background-color: $fondoGris;
}


.lanzamientosDelMes {
    background-color: $fondoGris;
}


/* Colores Index*/ 

.index__novedadesGenerales {
    background-color: $fondoGris;
}

.index_ultimosGigs--white {
    background-color: $fondoBlanco;
}


.index__ultimosGigs__titulo {
    background-color: $fondoGris;
}