
/*Img market Destacado*/

.destacados__ultimosLanzamientos__img {
    display: flex;
    flex-flow: row wrap;
    justify-items: center;
    justify-content: space-evenly;
    height: auto;
}

.destacados__ultimosLanzamientos__img>img {
    padding: 10px;
}


.destacados__label__img {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    max-width: 100%;
    height: auto;
    padding:10px;
    justify-content: space-evenly;


}

 .destacados__label__img>img {
     padding: 10px;
 }

.header {
    background-image: url(../media/imagenes/banner_market_2_optimizado.jpg);
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
}