/* Registro */

.formReg {
    width: 450px;
    margin: auto;
}


/*Index Tamaños*/ 

.carousel-inner {
    height: 500px;
}

.carousel-inner__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 87%;
    height: auto;
}

.index_ultimosGigs {
    padding: 20px;
}

/* Margenes Market */ 

 .header__card {
     display: flex;
     max-width: 100%;
     height: auto;
     flex-flow: column nowrap;
     justify-items: center;
     justify-content: center;
     box-shadow: 10px 10px 20px black;

    
 }

.destacados {
    padding: 10px;
}

.destacados__titulos {
    width: 100%;
    padding: 10px;
}



.destacados__artista__borde {
    border-left: solid 1px black;
}

.lanzamientosDelMes {
    margin-bottom: 20px;
}

.lanzamientosDelMes__cards {
    border-style: double;
    margin-bottom: 20px;
}


.btn--paddingTop {
    margin-top: 10px;
}



/*Footer tamaños*/

.footer__seguinos>li>a>i {
    font-size: 25px;
    font-style: normal ;
}

.footer__sitemap__icono--paddingRight {
    padding-right: 10px;
}


.footer__card--border {
    border-right: double;
}


/*Seccion Gigs */ 

.recomendacionesGig {
    padding: 20px;
}